services:
  blackbox_exporter:
    image: "{{ blackbox_exporter_docker_image }}"
    command: "{{ blackbox_exporter_command }}"
    container_name: "{{ blackbox_exporter_container_name }}"
{% if blackbox_exporter_network_mode | default('none') == 'none' %}
    ports:
      - "127.0.0.1:{{ blackbox_exporter_host_port }}:{{ blackbox_exporter_host_port }}"
{% endif %}
    volumes:
      - "{{ blackbox_exporter_config_dir }}:/config"
    hostname: "{{ ansible_host }}"
    restart: always
    labels:
{% for key, value in blackbox_exporter_docker_labels.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% if blackbox_exporter_network_mode | default('none') != 'none' %}
    network_mode: "{{ blackbox_exporter_network_mode }}"
{% endif %}

{% if blackbox_exporter_network_mode | default('none') == 'none' %}
networks:
  default:
    external: true
    name: "{{ blackbox_exporter_docker_network_name }}"
{% endif %}
