[Unit]
Description=Blackbox exporter service
After=network.target

[Service]
User={{ blackbox_exporter_user }}
Group={{ blackbox_exporter_user }}
ExecStart=/usr/local/bin/blackbox_exporter --config.file={{ blackbox_exporter_config_dir }}/config.yml
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=on-failure
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
